
  <%if (locals.name) { %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    Hi <%= name %>
    <a href="/logout">(logout)</a>
  </a>
</nav>
<% } else { %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    Hi Stranger!
</nav>
<% } %>

<%if (locals.status) { %>
  <div style='background-color:greenyellow;display:inline-block;font-weight:bolder'>
    <%- status %> redirecting....
  </div>
  <script>
  setTimeout(function(){
    window.location = "/post";
   },3000);
   </script>   
<% } %>

<%if (locals.statusEmpty) { %>
  <div style='background-color:greenyellow;display:inline-block;font-weight:bolder'>
    <%- statusEmpty %>
  </div>
  <% } %>

