<html lang="en">

<head>
    <%- include('./head'); %>
</head>


<body class="container">
    <header>
        <%- include('./header'); %>
    </header>
    <main>
        <p style = "font-weight: bolder;">
            Welcome to homepage. This is a public intro. You must be registered to access all features.<br>
            I am learning to make a node js api through making this site. Hope you like it!
        </p>




        <footer>
            <%- include('./footer'); %>
        </footer>
    </main>
</body>

</html>