<!DOCTYPE html>
<html lang="en">

<head>
</head>
<%- include('./head'); %>

<body class="container">
    <header>
        <%- include('./header'); %>
    </header>
    <main>
        <hr>
        <h3 class="navbar navbar-expand-lg navbar-light bg-light">SignIn</h3>

        <div>
            <form action='/user/login' method="POST">
                <div>
                    <label for="username">Username: </label><br>
                    <input type="text" name="username" id="username" minlength="3" required>
                </div>
                <div>
                    <label for="password">Password: </label><br>
                    <input type="password" name="password" id="password" minlength="3" required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

        <p>Not registered yet? <a href="/register">Register</a> here</p>
        <p>Go back to <a href="/">Homepage</a></p>
    </main>
    
</body>

</html>